<!-- can remove when https://code.google.com/p/chromium/issues/detail?id=336698
  is addressed. -->
<meta charset="UTF-8">

<link rel="import" href="../../bower_components/polymer/polymer.html">


<dom-module id="presenter-control-timer">
  <template>
    <style>
    :host{
      display: block;
      font-size: 24px;
    }

    span{
      background-image: url('img/clockBg.png');
      background-repeat: no-repeat;
      padding: 16px;
      background-position: center;
    }
    </style>
      <span id="hours">{{hours}}</span>:<span id="minutes">{{minutes}}</span>:<span id="seconds">{{seconds}}</span>
  </template>

  <script>

    Polymer({

      is: 'presenter-control-timer',

      properties: {
        sessionStart: {
          type: Date,
          value: function(){ return Date.now();},
          observer: 'sessionStartChanged'
        }
      },
      
      ready: function(){
        this.sessionStart = new Date(),
        this.hours = this.minutes = this.seconds = "00";
      },

      updateTime: function(){
        var newDate = Math.abs(new Date() - this.sessionStart);

        var hours = Math.floor(((newDate / 1000) / 60 ) / 60);
        var minutes = Math.floor(((newDate / 1000) / 60) % 60);
        var seconds = Math.floor((newDate / 1000) % 60);

        this.hours = (hours < 10 ? "0" : "" ) + hours;
        this.minutes = (minutes < 10 ? "0" : "" ) + minutes;
        this.seconds = (seconds < 10 ? "0" : "" ) + seconds;
      },

      ready: function(){
        this.intervalID = setInterval(this.updateTime.bind(this), 1000);
      },

      reset : function(){
        clearInterval(this.intervalID);
        this.sessionStart = new Date();
        this.updateTime();
        this.intervalID = setInterval(this.updateTime.bind(this), 1000);
      },

      sessionStartChanged: function(newValue, oldValue){
        if(! newValue){
          this.sessionStart = oldValue;
        }
        if(typeof newValue == "string"){
          this.sessionStart = new Date(this.sessionStart);
        }
      }
    });

  </script>
</dom-module>
