<dom-module id="presenter-control-slides-styles">
  <template>
    <style>

:host {
  @apply(--layout-vertical);
  padding: 10px;
}
.spinner-centered {
  position: absolute;
  -lh-property: 0;
top:-webkit-calc(50% - 14px);
top:-moz-calc(50% - 14px);
top:calc(50% - 14px);
;
  -lh-property: 0;
left:-webkit-calc(50% - 14px);
left:-moz-calc(50% - 14px);
left:calc(50% - 14px);
;
}

paper-icon-button.lg {
  width: 56px;
  height: 56px;
}
paper-icon-button.lg::shadow #icon {
  width: 40px;
  height: 40px;
}

paper-icon-button.x2{
  width: 66px;
  height:66px;
}

paper-icon-button.x2::shadow #icon {
  width: 50px;
  height: 50px;
}

a.paper-icon-button-anchor {
  color: inherit;
}
.round {
  border-radius: 50%;
}

#slides-container{
  @apply(--layout-horizontal);
  @apply(--layout-wrap);
}

#slides-container .slide-preview {
  padding: 0 15px 0 5px;
  min-width: 320px;
  @apply(--layout-vertical);
  @apply(--layout-center);
  @apply(--layout-auto); /* I think it's important for mobile safari*/
}

#slides-container #slide-preview-prev{
  @apply(--layout-flex-3);
}
#slides-container #slide-preview-next{
  @apply(--layout-flex-2);
}
#slides-container .iframe-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#slides-container .iframe-wrapper:after {
  padding-top: 75%;
  display: block;
  content: '';
}
#slides-container .iframe-wrapper iframe {
  border: 1px #ccc solid;
  box-shadow: 0px 2px 8px black;
  background-color: #fff;
  width: 1px;
  min-width: 100%;
  *width: 100%;
  height: 1px;
  min-height: 100%;
  *height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#slides-container .controllButton {
  margin: 20px auto 0 auto;
  display: block;
}
#slides-container .connected-viewers-number {
  text-align: right;
  color: #CCC;
}
#currentSlideFrame {
  box-shadow: 0px 2px 8px black;
}
#nextSlideFrame {
  opacity: 0.5;
}
#timer-container {
  @apply(--layout-horizontal);
  @apply(--layout-center);
  margin-top: 30px;
}
#presentation-controls {
  @apply(--layout-horizontal);
  @apply(--layout-center);
  margin-top: 30px;
}

#presentation-controls {
  @apply(--layout-horizontal);
  @apply(--layout-center);
  margin-top: 30px;
}

#presentation-controls-arrows-container{
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
  @apply(--layout-flex-3);
}

#presentation-controls-viewers-container{
  @apply(--layout-horizontal);
  @apply(--layout-justified);
  @apply(--layout-flex-2);
}

#thumb-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
#thumb-bar #thumbbarToggle {
  width: 100%;
  position: absolute;
  top: -25px;
}
#thumb-bar #thumbbarToggle a {
  padding: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 94px;
  color: #fff;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
  text-decoration: none;
}
#thumb-bar #thumbbarToggle a iron-icon {
  -webkit-transition: -webkit-transform 200ms ease-out 500ms;
  -moz-transition: -moz-transform 200ms ease-out 500ms;
  -o-transition: -o-transform 200ms ease-out 500ms;
  transition: -webkit-transform 200ms ease-out 500ms,-moz-transform 200ms ease-out 500ms,-o-transform 200ms ease-out 500ms,transform 200ms ease-out 500ms;
}
#thumb-bar #thumbbarToggle[opened] a iron-icon {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
#thumb-bar #thumbsWrapper {
  @apply(--layout-horizontal);
  overflow-x: scroll;
  height: 209px;
  min-height: 209px;
}
#thumb-bar #thumbsWrapper presenter-control-thumbnail {
  /*@apply(--layout-flex);*/
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}
#thumb-bar #thumbsWrapper presenter-control-thumbnail.iron-selected {
  opacity: 1;
}
#thumb-bar presenter-control-thumbnail {
  margin: 14px 12px 2px;
}
    </style> 
  </template>
</dom-module>