@font-face {
  font-family: 'Delicious';
  font-style: normal;
  font-weight: normal;
  src: local('Delicious'), url('Delicious-Roman.otf');
}

@font-face {
  font-family: 'Delicious';
  font-style: normal;
  font-weight: bold;
  src: local('Delicious'), url('Delicious-Bold.otf');
}
