// mixins
@import "lib/lesshat.less";

body{
    background-image: url("../img/pattern5.jpg");
    height: 100%;
    color: #FFF;
    background-color: #333;
}


#mainContainer{
  
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #333;
  }
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 1ex;
}

.modal, .popover{
  color: black;
}


/* --- Menu --- */
@media (min-width: 768px){
  .navbar {
    border-radius: 0px;
  }
}

.navbar .divider-vertical {
height: 50px;
margin: 0 9px;
border-right: 1px solid #ffffff;
border-left: 1px solid #DFDFDF;
}

.navbar-inverse .divider-vertical {
border-right-color: #222222;
border-left-color: #111111;
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

.navbar-brand{
    padding: 0 20px;
    float:right;
    line-height: 50px;
    img{
      height: 34px;
    }
}

#iOSWebAppInfo{
  position: fixed;
  top: 0px;
  left: 210px;
  z-index: 1035;
}
.popover{
  z-index: 1040;
}
/* ---- Stacked Menu ----*/
.nav-tabs.nav-stacked>li>a{
  border: none;
  box-shadow:  0 1px 0 #333;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  color: #ccc;
}
.nav-tabs.nav-stacked>.active>a, .nav-tabs.nav-stacked>.active>a:hover{
    color: white;
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
}
.nav-tabs.nav-stacked>li{

  a:hover{
      color: white;
      background: none;
      border-bottom: 1px solid #000;
    }
  }
.showNumber > li{
    list-style: initial;
    list-style-type: decimal;
    list-style-position: inside;
  }

/* ----- Style for content area -----*/
#content{
  padding-top: 80px;
  color: #FFF;
 -webkit-perspective: 800px;
}

.group{
  margin-top: 20px;
  margin-bottom: 80px;
}
// .btn{
//   margin-right: 10px;
// }
/* -- Style for seperating headline -- */
.headline{
  border-bottom: 1px solid #000;
  box-shadow:  0 1px 0 #333;
  margin-bottom: 10px;
  margin-top: 20px;
  h2{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }
  .controls{
    color: #FFF;
    font-size: 15px;
    margin: 12px 0 0 20px;
  }
  select{
    vertical-align: bottom;
  }
}
#delete-form{
  display: none;
}

// .accordion-group, .accordion-inner {
//   border: 0;
//   border-image-width: 0;
// }

a.accordion-toggle {
  color : #ccc;
}

a.accordion-toggle:hover {
  color : #FFF;
  text-decoration : none;
}

/* -- Style for presentation thumbnails on startpage -- */
.thumb-container{
  width: 240px;
  height: 175px;
  margin: 12px 24px;
  float: left;
  position: relative;
  z-index: 1;
}

.flipbox {
  // box-shadow: 0 3px 6px #000;
  
  color: #000;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  .perspective(1400px);
  .transform-style(preserve-3d);
  .backface-visibility(hidden);

  > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    .rotateY(180deg); //to fight iOS initial transition animation
    .backface-visibility(hidden);
    .transform-style(preserve-3d);
    .transition(transform 0.65s); //if we remoge this then the iOS initial transition bug dissapears
  }

  > *:last-child {
    .rotateY(180deg);
    z-index: 1;
  }

  > *:first-child {
    z-index: 2;
    .rotateY(0deg);
  }

  &.flipped{
    > *:last-child{
      .rotateY(360deg);
      z-index: 2;
    }

    > *:first-child {
      z-index: 1;
      .rotateY(180deg);
    }
  }
}

.thumb-bg{
  .100WidthHeight;
  background-size: cover;
  background-position: center; 
  background-repeat:  no-repeat;
  position: absolute;
  z-index: 1;
  .transition(opacity 0.3s);
  box-shadow: inset 3px 3px 0px #ccc, 
  inset -3px -3px 0px #ccc,
  inset 0px 0px 8px #000;
}
h4{
  color: #ccc;
  text-align: center;
  z-index: 20;
  width: 100%;
  text-shadow: 0px 0px 40px black;
  display: none;// table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  padding: 10px;
  }

.thumb-info{
  display: table;
  box-shadow: inset 3px 3px 0px #ccc, 
      inset -3px -3px 0px #ccc,
      inset 0px 0px 8px #000;
  background-color: #000;
  text-shadow: black 0px 0px 500px;
}

.thumb-live-container {
  position: absolute;
  top: 8px;
  right: 4px;
  z-index: 2;
  .perspective(40px);
  .transform-style(preserve-3d);
  .perspective-origin(50% 40%);
}

.thumb-live {
  padding: 2px 1px 1px 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;  
  letter-spacing: 0.1pt;
  color: #d9534f;
  border: 2px solid #d9534f;
  .rotateY(20deg);
  -webkit-font-smoothing: antialiased;
}

body.no-touch .thumb-info:hover , .thumb-info.title{
    .thumb-bg {
      opacity: 0.1;
      .hoverBorder;
      }
    h4{
      display: table-cell;
    }
  }

.thumb-dates{
  background-color: #ddd;
  width:100%;
  height:26px;
  position: absolute;
  bottom: 0;
  p{
    font-size: 11px;
    display: inline;
    padding: 0 4px;
    line-height: 26px;
    float: left;
    margin: 0;
  }
  p:last-child{
    float: right;
  }
}
.thumb-buttons-container{
  display: table;
  background-color: #efefef;
  box-shadow: 0px 50px 100px black;
  text-align: center; 
  height: 151px;
  width: 100%;
}
.thumb-buttons-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  // margin-right: -0.25em; /* Adjusts for spacing */
}
.thumb-buttons{
  position:relative;
  display:inline-block;  
  height:auto;
  vertical-align: middle;
  .btn-group{
    margin-bottom:3px;
    position:relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    height:auto;
    button{
      width: 140px;
    }
    .dropdown-toggle{
      width:auto;
    }
    .btn:first-child {
      width: 130px;
    }

  }
  *{
     font-size: 13px;
  }
  .glyphicon{
    top:1px;
    line-height:12px;
  }
  > .btn{
    width: 156px;
    margin: 3px 0
  }
}

.100WidthHeight{
     width: 100%;
    height: 100%;
}
.hoverBorder{
  box-shadow: inset 3px 3px 0px #6666CC,inset -3px -3px 0px #6666CC;
  box-shadow: inset 3px 3px 0px #FFF,inset -3px -3px 0px #FFF;
}

/* -----  Styles for Langind page ----- */
.landhead {
  text-align:center;
  padding: 30px 15px;
  
  h1 {
    font-size: 50px;
    line-height: 1;
  }
  .lead{
    color: #686868
  }
}
@media screen and (min-width: 768px){
  .landhead{
  padding-top: 140px;
  padding-bottom: 140px;
  text-align:left;

    h1{
      font-size: 72px;
    }
    .lead{
      font-size: 30px;
    }
  } 
}



/* -----  Style for Stats ----- */
.chart{
width: 100%; 
height: 500px;
}
.stats{
  .tab-content{
  padding-top: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 40px;
  overflow: hidden;
  color: black;
  ol, p{
    margin: 20px 0 0 20px;
    list-style-position: inside;
  }
  li{
    line-height: 20px;
    margin-bottom: 5px;
    
   }
}
.nav-tabs{
  margin-bottom:0;
}
h2{
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px 0;
  }
}


/* ------ Style edit ----- */
#editorImages{
  box-shadow: inset 0 0px 6px #000;
  background-color: rgba(0,0,0,0.2);
  padding: 20px 0 20px 0;
  
  div{
    display:table-cell;
    height: 250px;
    img{
      margin: 0 auto 0 auto,
      display: block;
      vertical-align: center;
    }
    p{
      vertical-align: bottom;
    }
  }
}


/* --- Waiting Box ---*/
.centerContainer{
  display: table;
  height: 100%;
}
.waiting{
    height: 400px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    h2{
        text-align: center;
        border-bottom: 1px solid #000;
        box-shadow:  0 1px 0 #333;
    }
}



/* --- Controls --- */
#slidesControll{
  //padding-top: 80px;
}
.controls{
    iframe{
      border: 3px #ccc solid;
      box-shadow: 0px 2px 8px black;
    }
    #nextSlideFrame{
      opacity: 0.5;
    }
    #clock{
      margin-top: 30px;
      float: left;
      p{
        font-size: 24px;
        >span{
          background-image: url('/img/clockBg.png');
          background-repeat: no-repeat;
          padding: 16px;
          background-position: center;
        }
      }
      button{
        margin: 0 10px 0 10px;
      }
    } 
    .controllButton{
        margin: 20px auto 0 auto;
        display: block;
    }   
  .connected-viewers-number{
    text-align: right;
    color: #CCC;
  }
  #buttons{
    margin-top: 30px;
  }
}
  
.controlBottom{
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  box-shadow: inset 0 0 20px black;
  background-image: none;
  background-color: #111;
  background: -moz-linear-gradient(top, #111 0%, #222 71%, #333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(71%,#222), color-stop(100%,#333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #111 0%,#333 71%,#333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #111 0%,#222 71%,#333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #111 0%,#222 71%,#333 100%); /* IE10+ */
  background: linear-gradient(to bottom, #111 0%,#222 71%,#333 100%); /* W3C */
  
  position: absolute;
  bottom:0;
  left: 0;
  right:0;
  width: 100%;
  height: 270px;
  #controlToggle{
    width: 100%;
    position: relative;
    top: -25px;
    a{
      padding: 3px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 180px;
      background-color: #020202;
      color: #fff;
      text-align: center;
      display: block;
      margin: 0 auto 0 auto;
    }
  }
  
  .controlThumbs{
    overflow-x: scroll;
    overflow-y: hidden;
    
  .thumb{
    .transition( all .2s ease-in-out );
    height: 150px;
    width: 200px;
    margin: 40px 10px 40px 10px;
    opacity: 0.5;
    .slideInclude; 
     .label{
      max-width: 170px;
    }
  }
  .active{
    opacity: 1;
    height: 210px;
    width: 280px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 3px 12px #000, inset 3px 3px 0px #fff, inset -3px -3px 0px #fff;
  }
}
}

/* --- Editor Style ---*/
#editor { 
        position: relative;
        height: 550px;
}



/* --- Questions ---*/
#slidesOverview .add{
  float: left;
  margin-top: 100px;
  height: 3px;
  background-color: rgb(140,140,140);
  width: 15px;
  box-shadow: 0 3px 6px #000;
}

#slidesOverview .add:first-child{
  display: none;
}

#slidesOverview .slide {
  width: 275px;
  height: 206px;

  margin: 10px 0px 40px 0px; 
  .slideInclude;
  .labels{
    max-width: 255px;
  }
}

/* --- Slides thumbnail prototype for admincontroll and edit ---*/
.slideInclude{
  float: left;
  background-size: contain;  
  background-color: #ccc;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px #000, inset 3px 3px 0px #ccc, inset -3px -3px 0px #ccc;
  position: relative;
  
  .labelsContainer{
    position: absolute;
    display: table;
    table-layout: strict;
    left: 15px;
    bottom: 15px;
  }
  .labels{
    position: relative;
    vertical-align: bottom;
    display: table-cell;
    overflow: hidden;
    table-layout: strict;
   }
  .label{
    margin-bottom: 3px;
    overflow: hidden;
  }
  .slideNr{
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.btn-inverse{
  color:#ffffff;
  background-color:#555454;
  border-color:#616161;
}
.btn-inverse:hover,.btn-inverse:focus,
.btn-inverse:active,.btn-inverse.active,
.btn-inverse.disabled,.btn-inverse[disabled]{
  color:#ffffff;
  background-color:#363636;
  border-color:#3D3D3D;
}

.btn.hidden-xs {
  display: inline-block !important;
}



/* --- Remove button and animation --- */
.remove{

  background: #000;
  font-family: Arial;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 20px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -11px;
  width: 24px;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid white;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  }


.removed-item {
  // .animation(removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards);
  // .transform-origin(0% 100%);

}
.keyframes(~'removed-item-animation, 0%{opacity: 1; transform: rotateZ(0); } 100%{ opacity: 0; transform:translateY(600px) rotateZ(90deg); }');


/*  REGISTER FORM */

.page-canvas {
  background: #f8f8f8;
  border-radius: 6px;
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
  width: 888px;
  margin: 0 auto;
  color: #000000;
}

.signup-wrapper {
margin: 0 auto 10px;
display: block;
width: 585px;
clear: both;
}

.signup-wrapper h1{
  margin:0;
  padding: 40px 0 20px 0;
}

#signup-form{
  padding: 10px 0;
}

#signup-form fieldset {
  margin-bottom: 15px;
}

#signup-form .controls{
  position:relative;
}

#signup-form .form-control {
  display:inline-block;
  width: 382px;
}

#signup-form div.sidetip {
margin-top: 8px;
position: absolute;
left: 402px;
width: 250px;
}

#signup-form div.sidetip p {
  font-size: 13px;
  line-height: 16px;
  color: gray;
  // display: none;
}

#signup-form div.sidetip p.active {
    display: block
}

#signup-form div.sidetip p.checking {
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url(/img/spinner-small.gif);
  padding-left: 18px;
}

#signup-form div.sidetip p.error {
    color: #c33
}

#signup-form div.sidetip p.isaok {
    color: #390
}