<!-- can remove when https://code.google.com/p/chromium/issues/detail?id=336698
  is addressed. -->
<meta charset="UTF-8">

<link rel="import" href="/bower_components/polymer/polymer.html">
 <link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<!-- <link rel="import" href="../../bower_components/neon-animation/neon-animations.html"> -->
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">

<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../bower_components/more-routing/more-route-selector.html">
<link rel="import" href="../../bower_components/more-routing/more-route-template-helpers.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">


<link rel="import" href="../app-config/app-config.html">
<link rel="import" href="../asqw-connection/asqw-connection.html">
<link rel="import" href="../routes.html">
<link rel="import" href="../presenter-control-users/presenter-control-users.html">
<link rel="import" href="../presenter-control-slides/presenter-control-slides.html">
<link rel="import" href="../presenter-control-dashboard/presenter-control-dashboard.html">
<link rel="import" href="../presenter-control-stats/presenter-control-stats.html">
<link rel="import" href="../main-nav-item/main-nav-item.html">



<dom-module id="presenter-control-app">
  <template>
    <style type="text/css" media="screen">
      @font-face {
       font-family: 'ALSScripticus';
       src: url('../fonts/ALSScripticus.otf') format('woff'), 
            url('../fonts/ALSScripticus.ttf')  format('truetype')
      }

      @font-face {
       font-family: 'ALSScripticus-Bold';
       src: url('../fonts/ALSScripticus-Bold.otf') format('woff'), 
            url('../fonts/ALSScripticus-Bold.ttf')  format('truetype')
      }

      :host {
        @apply(--layout-vertical);
        @apply(--layout-fit);
        background-image: url('./img/pattern5.jpg');
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        /*-webkit-font-smoothing: antialiased;*/
        font-size: 14px;
        line-height: 1.42857143;
        color: #fafafa;
        background-color: #333;
        --paper-menu-background-color: none;
      }

      #main-nav{
        background: #f8f8f8;
        box-shadow: inset 1px 0 20px rgba(2, 2, 2, 0.4);
        border-right: 3px solid #337ab7;
      }

      #main-nav-menu{
        margin: 0 auto;
        position: relative;
      }

      #main-nav main-nav-item{
        margin-top: 30px;
      }

      #learrow{
        width: 0;
        height: 0;
        position: absolute;
        top: 0px;
        right: 0;
        display: block;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent; 
        border-right:16px solid #337ab7; 
      }

      #main-content{
        padding:0 10px;
      }

      /* drawer is always visible on a wide screen
         so menu button isn't required */
      #drawerPanel:not([narrow]) #navicon {
        display: none;
      }
      
      #drawerPanel[narrow] neon-animated-pages{
        @apply(--layout-fix);
        top:40px;
      }

/*      more-route-selector{
        @apply(--layout-vertical);
        @apply(--layout-fit);
      }

      neon-animated-pages{
        @apply(--layout-flex);
      }

      iron-pages{
        @apply(--layout-vertical);
              @apply(--layout-fit);
      }*/
      
    </style>
    
    <app-config id="config"></app-config>
    <asqw-connection id="connection"></asqw-connection>

    <paper-drawer-panel id="drawerPanel" drawer-width="90px">
      <div drawer id="main-nav">
          <paper-menu id="main-nav-menu" attr-for-selected="path" selected="{{selectedPath}}" on-iron-select="_menuItemSelected" on-iron-deselect="_menuItemDeselected">
            <div id="learrow"></div>
            <main-nav-item icon="image:photo" path="/slides" href="{{_computeUrl('slides')}}" label="Presentation"></main-nav-item>
            <main-nav-item icon="social:group" path="/users" href="{{_computeUrl('users')}}" label="Users"></main-nav-item>
            <main-nav-item icon="dashboard" path="/dashboard" href="{{_computeUrl('dashboard')}}" label="Dashboard"></main-nav-item>
            <main-nav-item icon="device:dvr" path="/beamer" href$="{{_computeBeamerUrl(config)}}" label="Beamer view"></main-nav-item>
            <main-nav-item icon="editor:insert-chart" path="/stats" href="{{_computeUrl('stats')}}" label="Statistics"></main-nav-item>
          </paper-menu>
      </div>
      <div main id="main-content">
        <paper-icon-button id="navicon" icon="menu" on-tap="_menuIconClicked"></paper-icon-button>
        <more-route-selector id="routeSelector" selectedPath="{{selectedPath}}">
        <!--   <neon-animated-pages entry-animation = "slide-left-animation" exit-animation = "slide-left-animation"> -->
          <iron-pages>
            <presenter-control-slides id="presenterControlSlides" event-bus="{{eventBus}}"></presenter-control-slides>
            <presenter-control-users event-bus="{{eventBus}}" users="{{model.users}}"></presenter-control-users>
            <presenter-control-dashboard event-bus="{{eventBus}}" users="{{model.users}}"></presenter-control-dashboard>
            <presenter-control-stats></presenter-control-stats>
          </iron-pages>
          <!-- </neon-animated-pages> -->
        </more-route-selector>
      </div>
    </paper-drawer-panel>

  </template>
</dom-module>
<script src="presenter-control-app.js"></script>
