<div id="question" class="modal hide fade" style="pointer-events: auto;" tabindex="-1" data-focus-on="input:first">
	<div class="modal-header" id="questionText">
	</div>
	<div class="modal-body">
	    <form>
		<fieldset id='answeroptions'>
		</fieldset>
	    </form>
	</div>
	<div class="modal-footer">
		<div class="progress" >
			<div class="bar" id="progessbar" style="width: 0%;"></div>
		</div>
		<h5 class="pull-left" id="progressNum">Waiting for answers!</h5>
		<button class="btn" id ="show-stats" onclick="showStats()" >Show answers</button>
	</div>
</div>

