<div id="question" class="modal hide fade" style="pointer-events: auto;">
	<div class="modal-header" id="questionText">
	</div>
	<div class="modal-body">
	    <form>
		<fieldset id='answeroptions'>
		</fieldset>
	    </form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success"  id ="show-stats" onclick="showStats()" >Show answers</button>
	</div>
    <div class="modal-footer">

    </div>
</div>