<div id="question" class="modal hide fade" style="pointer-events: auto;">
	<div class="modal-header" id="questionText">
	</div>
	<div class="modal-body">
	    <form>
		<fieldset id='answeroptions'>
		</fieldset>
	    </form>
	</div>
	<div class="modal-footer">
		<div class="progress">
			<div class="bar" style="width: 60%;"></div>
		</div>
		<h5 class="pull-left">23/24 Answers</h5>
		<button class="btn btn-success" id ="show-stats" onclick="showStats()" >Show answers</button>
	</div>
</div>