<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <base href="<%= title %>"

</head>

<body>
    <%include ./../slides/example/index %>
    <script src="js/viewer.js"></script>
    <script>impress().init();</script>
</body>
</html>