<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,300,400,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>
    <% include ../slides/example/index %>
    <script src="js/impress.js"></script>
    <script>impress().init();</script>
</body>
</html>