<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
        <% if (message) { %>
              <p><%= message %></p>
              <% } %>
              <form action="/user" method="post">
                      <div>
                      <label>Username:</label>
                      <input type="text" name="username"/><br/>
                      </div>
                      <div>
                      <label>Password:</label>
                      <input type="password" name="password"/>
                      </div>
                      <div>
                      <input type="submit" value="Submit"/>
                      </div>
              </form>
              Or signup
              <form action="/signup" method="post">
                      <div>
                      <label>Username:</label>
                      <input type="text" name="signupusername"/><br/>
                      </div>
                      <div>
                      <label>Password:</label>
                      <input type="password" name="signuppassword"/>
                      </div>
                      <div>
                      <input type="submit" value="Submit"/>
                      </div>
              </form>
        
        
<% } else { %>
	<h2>Well, what u want me to show here, <%= user.name %>?</h2>
<% } %>