<html>
  <head>
    <base href="http://localhost:3000/">
    <title>ASQ - Home</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  
<body>
	<div id="top">
			<div class="container" >
				
				
				<div id="banner" class="row">
					<img src="img/logo-big.png" width="262px" height="91px" />
					<p>Interactive presentations based on node.js and impress.js</p>
				</div>
			</div>
		</div>

		<div class="container">
			<h3>Available presentations</h3>
			<br />
			<table class="table table-striped">
				<thead>
					<th>Name</th>
					<th>Course</th>
					<th>Teacher</th>
				</thead>
				<tr>
					<td>My Sample Presentation</td>
					<td>A Sample Course</td>
					<td>Prof. A Sample</td>
				</tr>
				<tr>
					<td>My Sample Presentation</td>
					<td>A Sample Course</td>
					<td>Prof. A Sample</td>
				</tr>
				<tr>
					<td>My Sample Presentation</td>
					<td>A Sample Course</td>
					<td>Prof. A Sample</td>
				</tr>
			</table>
		</div>

		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>
  </body>

</html>