<div id="menu">
	<div class="container">
		<div class="row">
			<div class="span8">

				<ul class="pull-left">
					<li><a href="/user/">All Presentations</a></li>
					<li><a href="/upload">Upload Presentation</a></li>
					<li><a>Settings</a></li>
				</ul>
			</div>
			<div class="span4">
				<img src="/img/logo-small.png" />
				<p class="pull-right">
					Welcome Max!  | <a href="#">Logout</a>
				</p>
			</div>
		</div>
	</div>
</div>