 <div id="welcomeScreen" class="modal hide fade" style="pointer-events: auto;">
    <div class="modal-header"><h1 style="text-align: center;"><%= title %></h1></div>
    <div class="modal-body">
        <h3 style="text-align: center;">Please wait for the presentation to start.</h3>
    </div>
 </div>