 <div id="welcomeScreen" class="modal hide fade" tabindex="-1" data-focus-on="input:first" style="pointer-events: auto;">
    <div class="modal-header">
    	
    	<div id="logocontainer">
			<div class="lettercontaier" id="a">
				<p class="front">A</p>
			</div>
			<div class="lettercontaier" id="s">
				<p class="front">S</p>
			</div>
			<div class="lettercontaier" id="q">
				<p  class="front">Q</p>
			</div>
		</div>
    	
    	
    	
    	</div>
    <div class="modal-body">
    	
    	<h2 style="text-align: center;"><%= title %></h2>
        <h4 style="text-align: center;">Please wait for the presentation to start.</h4>
    </div>
 </div>
 
 
 