<!DOCTYPE html>
<html>
	<head>
		<title>ASQ - My Presentation</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		
		<link rel="stylesheet/less" type="text/css" href="css/backend.less">
		<script src="js/less-1.3.1.min.js" type="text/javascript"></script>
		
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    	
    	<script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);

	     function drawChart() {
	        var data = google.visualization.arrayToDataTable([
	          ['Question', 'Right', 'Wrong'],
	          ['1) USI is the university of?',  32,      3],
	          ['2) What is the currency in Switzerland?',  20,      15],
	          ['3) Another sample question?',  7,       28],
	          ['4) Another sample question?',  7,       28],
	          ['5) Another sample question?',  7,       28],
	          ['6) Another sample question?',  7,       28],
			  ['7) Another sample question?',  7,       28],
	          ['8) Why not another one?',  15,      20]
	        ]);
	        
	         var q1= google.visualization.arrayToDataTable([
	          ['USI is the university of?',  'Number of answers'],
	          ['A) Lugano', 32],
	          ['b) Luzern',  1],
	          ['C) Bern',  2],
	          ['D) Rome',  0],  
	        ]);
	        var q1correct= google.visualization.arrayToDataTable([
	          ['Correct answers',  'Number of answers'],
	          ['Correct', 32],
	          ['Wrong',  3],
	        ]);
	       	var q1partici = google.visualization.arrayToDataTable([
	          ['Participation',  'Number of answers'],
	          ['Answer', 35],
	          ['No Answer',  0],
	        ]);
	        
	
	        var options = {
	          animation: {duration: 100},
	          isStacked: true,
	          backgroundColor: '#222325',
	          vAxis : {baselineColor: '#999', gridlines: {color: '#666'}, textStyle: {color: "#CCC"}},
	          title: 'Answers per Question',
	          titleTextStyle: {color: 'white'},
	          legend: {textStyle: {color: '#999'}},
	          hAxis: {textStyle: {color: '#999'}, allowContainerBoundaryTextCufoff: true, slantedTextAngle: 50}
	         }
	        
	        var options2 = {
	        	animation: {duration: 1000},
	          backgroundColor: '#222325',
	          vAxis : {baselineColor: '#999', gridlines: {color: '#666'}, textStyle: {color: "#CCC"}},
	          titleTextStyle: {color: 'white'},
	          hAxis: {textStyle: {color: '#999'}, allowContainerBoundaryTextCufoff: true, slantedTextAngle: 50},
	          legend: {textStyle: {color: '#999'}}
	        };
	        
	        var options3 = {
	        	 backgroundColor: '#222325',
	        	 titleTextStyle: {color: 'white'},
      		    title: 'Correct vs. Wrong'
     	   };
     	    var options4 = {
     	    	 backgroundColor: '#222325',
     	    	 titleTextStyle: {color: 'white'},
      		    title: 'Participation'
     	   };

	
	        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	        var chart2 = new google.visualization.ColumnChart(document.getElementById('q1'));
	        chart2.draw(q1, options2);
	        var chart2 = new google.visualization.ColumnChart(document.getElementById('q2'));
	        chart2.draw(q1, options2);
	        var chart2 = new google.visualization.ColumnChart(document.getElementById('q3'));
	        chart2.draw(q1, options2);
	        
	        var chart3 = new google.visualization.PieChart(document.getElementById('Q1Correct'));
        	chart3.draw(q1correct, options3);
        	
        	var chart4 = new google.visualization.PieChart(document.getElementById('Q1Partici'));
        	chart4.draw(q1partici, options4);

	      }
    </script>

	</head>
	<body>
		
		<!---   top menu --->
		<div id="menu">
			<div class="container">
				<div class="row">
					<div class="span8">
						
						<ul class="pull-left">
							<li><a href="mypresentations.html">All Presentations</a></li>
							<li><a>Upload Presentation</a></li>
							<li><a>Settings</a></li>
						</ul>
					</div>			
					<div class="span4">
						<img src="img/logo-small.png" />
						<p class="pull-right">Welcome Max!  | <a href="#">Logout</a></p>
					</div>
		  		</div>
			</div>
		</div>
		
		
		<!---   Content area   --->
		<div class="container" id="content">

			<div class="row group" >
				
				<div class="span12">
					<h2 class="pull-left">Satistics of "What is ASQ?"</h2>
				</div>
				
				<!---   Seperating Headline   --->
				<div class="span12  headline">
					<h2 class="pull-left">General statistics</h2>
				</div>
				
				<div class="span12">
					<div class="row">
						<div class="span3">
							<p><b>Presentation held on:</b></p>
							<p><b>Average answers/question</b></p>
						</div>
						<div class="span3">
							<p>21.10.2012 - 13: 00</p>
							<p>16 (46%)</p>
						</div>
						<div class="span3">
							<p><b>Students loged in:</b></p>
						</div>
						<div class="span3">
							<p>35</p>
						</div>
					</div>
					
					<div id="chart_div" class="span12 chart" style="height: 300px;margin-bottom: 30px"></div>
				</div>
				
				
				
				<div class="span12  headline">
					<h2 class="pull-left">Question 1: "Lugano is in which country?"</h2>
				</div>
				<div class="span12 row">
					<div class="span3">
						<p><b>Answers</b></p>
						<p><b>Correct</b></p>
						<p><b>Wrong</b></p>
					</div>
					<div class="span2">
						<p>35</p>
						<p>25</p>
						<p>10</p>
					</div>
					<div class="span3">
						<div id="Q1Correct" style="height: 150px;"></div>
					</div>
					<div class="span3">
						<div id="Q1Partici" style="height: 150px;"></div>
					</div>
					
					<div id="q1" class="span12 chart" style="height: 300px;margin-bottom: 30px"></div>
				</div> 
				
				
				<div class="span12  headline">
					<h2 class="pull-left">Question 2: "What is the currency in Switzerland?"</h2>
				</div>
				<div class="span12 row">
					<div class="span3">
						<p><b>Answers</b></p>
						<p><b>Correct</b></p>
						<p><b>Wrong</b></p>
					</div>
					<div class="span2">
						<p>35</p>
						<p>25</p>
						<p>10</p>
					</div>
					<div id="q2" class="span12 chart" style="height: 300px;margin-bottom: 30px"></div>
				</div> 
				
				
				<div class="span12  headline">
					<h2 class="pull-left">Question 1: "Another sample question?"</h2>
				</div>
				<div class="span12 row">
					<div class="span3">
						<p><b>Answers</b></p>
						<p><b>Correct</b></p>
						<p><b>Wrong</b></p>
					</div>
					<div class="span2">
						<p>35</p>
						<p>25</p>
						<p>10</p>
					</div>
					<div id="q3" class="span12 chart" style="height: 300px;margin-bottom: 30px"></div>
				</div> 
				
			</div>
			
		</div>


	</body>
</html>