<% if (!user) { %>
<% if (message) { %>
              <p><%= message %></p>
              <% } %>	
	<h2>Please log in or signup.</h2>
	<form action="/user" method="post">
                      <div>
                      <label>Username:</label>
                      <input type="text" name="username"/><br/>
                      </div>
                      <div>
                      <label>Password:</label>
                      <input type="password" name="password"/>
                      </div>
                      <div>
                      <input type="submit" value="Submit"/>
                      </div>
              </form>
              Or signup
              <form action="/login" method="post">
                      <div>
                      <label>Username:</label>
                      <input type="text" name="username"/><br/>
                      </div>
                      <div>
                      <label>Password:</label>
                      <input type="password" name="password"/>
                      </div>
                      <div>
                      <input type="submit" value="Submit"/>
                      </div>
              </form>
        
<% } else { %>
	
	
	<h2>This is your profile page, <%= user.name %>.</h2>
	<br><br>
	<table>
		<tr><td>
			<figure><img src="thumb.png"></img><figcaption>Start - Edit</figcaption></figure></td>
		<td>
			<figure><img src="thumb.png"></img><figcaption>Start - Edit</figcaption></figure>
		</td>
		<td>
			<figure><img src="thumb.png"></img><figcaption>Start - Edit</figcaption></figure>
		</td>
		</tr>
		<tr><td>
			<figure><img src="thumb.png"></img><figcaption>Start - Edit</figcaption></figure></td>
		<td>
			<figure><img src="thumb.png"></img><figcaption>Start - Edit</figcaption></figure>
		</td>
		<td>
			<figure><img src="thumb.png"></img><figcaption>Start - Edit</figcaption></figure>
		</td>
		</tr>
	</div>
	
<% } %>