<html>
	<head>
		<title>ASQ - My Presentations</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet" media="screen">
		<style type="text/css">html{height: 100%}</style>
	</head>
	<body class="dark-bg">

		<div id="top-bg">
			<div class="container">
				<div class="row">
					<img class="pull-left" src="images/logo-small.png" />
					<div class="span8" id="menu">
						<ul>
							<li><a>All Presentations</a></li>
							<li><a>Settings</a></li>
							<li>|</li>
							<li><a>Welcome, Max!</a></li>
						</ul>
					</div>	

					<div id="logout" class="span2 pull-right">
						<span><a href="/logout">Logout</a></span>
					</div>	

		  		</div>
			</div>
		</div>

		<div class="container">

			<p>&nbsp;</p>

			<div class="row presentation-group" >
				<div class="span12  head">
					<h2 class="pull-left">Programming Fundamentals I</h2>
					<a class="pull-right statistics"><i class="icon-trash icon-white"> </i> Delete Slideshow </a>
					<a class="pull-right statistics"><i class="icon-signal icon-white"> </i> Show Statistics </a>
				</div>


				<div class="span3 presentation-thumb">
					<div class="info">
						<h4>Here comes a title</h4>
						<p>21.10.2012</p>		
					</div>

					<div class="buttons">
						<a href="#" class="btn btn-primary"><i class="icon-play icon-white"> </i> Start Presentation</a>
						<a href="#" class="btn btn-info"><i class="icon-signal icon-white"> </i> Show Statistics</a>
						<a href="#" class="btn btn-success"><i class="icon-pencil icon-white"> </i> Edit Presentation</a>
					</div>
				</div>

					<div class="span3 presentation-thumb">
					<h4>Here comes another title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb">
					<h4>Here comes a great title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb-add">
					<h4>+</h4>
					<p>&nbsp;</p>
					<p><i>Add presentation</i></p>
				</div>

			</div>

			<p>&nbsp;</p><p>&nbsp;</p>

			<div class="row presentation-group" >
				<div class="span12  head">
					<h2 class="pull-left">Advanced Programming</h2>
					<a class="pull-right statistics"><i class="icon-trash icon-white"> </i> Delete Slideshow </a>
					<a class="pull-right statistics"><i class="icon-signal icon-white"> </i> Show Statistics </a>
				</div>


				<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>

					<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>
				<div class="span3 presentation-thumb">
					<h4>Here comes a title</h4>
					<p>21.10.2012</p>
				</div>

				<div class="span3 presentation-thumb-add">
					<h4>+</h4>
					<p>&nbsp;</p>
					<p><i>Add presentation</i></p>
				</div>

			</div>

		</div>

		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>