<div id="question" class="modal hide fade" style="pointer-events: auto;">
	<div class="modal-header" id="questionText">
	</div>
	<div class="modal-body" >
		<div id="optionArea">
			<form>
				<fieldset id='answeroptions'> </fieldset>
	    	</form>
		</div>
	    <div id="blockOptions">
	    	<a href="#">Click to change your answer.</a>
	    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary"  data-toggle="button" id ="sendanswers" onclick="send()" >Done</button>
		
	</div>
 </div>