<div id="answer" class="modal hide fade" style="pointer-events: auto;"  tabindex="-1" data-focus-on="input:first">
	<div class="modal-header" id="answerText">
		
	</div>
	<div class="modal-body" id='answersolutions'>
	     <div id="Q1Correct"></div>
	     <div id="q" style="height: 200px;"></div>
	</div>
	<div class="modal-footer">
	</div>
</div>


