/* -- Body -- */
body{
    background-image: url("../img/pattern5.jpg");
    color: #FFF;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.modal{
  color: #000;
}
/* --- Menu --*/
.navbar .btn-navbar{
    margin-top: 12px;
}
.navbar .brand{
  line-height: 34px;
    img{
      height: 34px;
    }
}


/* -- Alert -- */
.alert .btn{
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 10px 0;
}


/* -- Style for seperating headline -- */
h2{
  border-bottom: 1px solid #000;
  box-shadow:  0 1px 0 #333;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
  .controls{
    color: #FFF;
    font-size: 15px;
    margin: 12px 0 0 20px;
  }
}

/* -- Style for presentation thumbnails -- */
.thumbContainer{
  margin: 0 40px 0 0px;
  width: 100%;
  max-width: 300px;
  float: left;
  -webkit-perspective: 800px;
  position: relative;
  z-index: 1;
}

.thumb {
  height: 195px;
  box-shadow: 0 3px 6px #000;
  margin-top: 20px;
  color: #000;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;  
  position: relative;


  .bg{
    background-size: cover;
    background-position: center; 
    background-repeat:  no-repeat;
    position: absolute;
    z-index: 15;
    -webkit-transition: opacity 0.3s;
        box-shadow: inset 3px 3px 0px #ccc, 
        inset -3px -3px 0px #ccc,
        inset 0px 0px 8px #000;
      }
  h4{
    color: #ccc;
    text-align: center;
    z-index: 20;
    width: 100%;
    text-shadow: 0px 0px 40px black;
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    padding: 10px;
    }
  div{
    position: absolute;
    .100WidthHeight;
    -webkit-backface-visibility: hidden;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .info{
    box-shadow: inset 3px 3px 0px #ccc, 
        inset -3px -3px 0px #ccc,
        inset 0px 0px 8px #000;

    z-index: 101;
    background-color: #000;
    text-shadow: black 0px 0px 500px;
  }
  .buttons{
    -webkit-transform: rotateY( 180deg );
    background-color: #efefef; 
    box-shadow: 0px 50px 100px black;
    height: 195px;
    display: table;
    position: absolute;
    a{
      display: block;
      margin: 5px auto 5px auto;
      width: 150px;
    }
    a:first-child{
      display: block;
      margin: 40px auto 5px auto;
    }
  }
  .dates{
    background-color: rgba(0,0,0,0.2);
    height: 30px;
    bottom: 0px;
    position: absolute;
    p{
      font-size: 13px;
      display: inline;
      padding: 5px;
      float: left;
      margin: 0;
    }
    p:last-child{
      float: right;
    }
  }
}
.100WidthHeight{
     width: 100%;
    height: 100%;
}
.hoverBorder{
  box-shadow: inset 3px 3px 0px #6666CC,inset -3px -3px 0px #6666CC;
  box-shadow: inset 3px 3px 0px #FFF,inset -3px -3px 0px #FFF;
}
.thumb:hover{
  .bg {
    opacity: 0.1;
    .hoverBorder;
    }
  h4{
    display: table-cell;
  }
}
.flipped{
  -webkit-transform: rotateY( 180deg ) translateZ(-100px);
  z-index: 10;
}
/* --- Waiting Box ---
.centerContainer{
  display: table;
  height: 100%;
}
#waitingScreen{
    
    text-align: center;
    display: table-cell;
    vertical-align: top;
    h2{
        text-align: center;
        border-bottom: 1px solid #000;
        box-shadow:  0 1px 0 #333;
    }
}
*/


/* --- Controlls --- */
#waitingScreen{
  word-wrap: break-word;
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 18px;
  }
}

.controls{
    iframe{
      border: 3px #ccc solid;
      box-shadow: 0px 2px 8px black;
    }
    #nextSlideFrame{
      opacity: 0.5;
    }
    #clock{
      margin: 30px auto 0 auto;
      p{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        span{
          background-image: url('/img/clockBg.png');
          background-repeat: no-repeat;
          padding: 16px;
          background-position: center;
        }
      }
    } 
 #resetClock{
    width: 130px;
    display: block;
    margin: 30px auto 0 auto;
}
    
  #buttons{
    text-align: center;
    margin-top: 30px;
    a{
      margin: 5px;
    }
    button{
      margin-top: 30px;
    }
    #nextButton{
    
    }
  }
}
  
.hideThumbs{
  bottom: -300px;
}
.controlBottom{
  -webkit-transition: all .3s ease-in-out;
  box-shadow: inset 0 0 20px black;
  background-image: none;
  background-color: #111;
  background: -moz-linear-gradient(top, #111 0%, #222 71%, #333 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(71%,#222), color-stop(100%,#333)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #111 0%,#333 71%,#333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #111 0%,#222 71%,#333 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #111 0%,#222 71%,#333 100%); /* IE10+ */
  background: linear-gradient(to bottom, #111 0%,#222 71%,#333 100%); /* W3C */
  
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  table-layout: fixed;
  
  width: 100%;
  height: 100%;
  display: table;
  
    #controlToggle{
      display: none;
    }
  
  .controlThumbs{
    overflow-x: scroll;
    overflow-y: hidden;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    
    
  .thumb{
    -webkit-transition: all .2s ease-in-out;
    box-shadow: 0 3px 8px #000, inset 2px 2px 0px #ccc, inset -2px -2px 0px #ccc;
    float: left;
    height: 150px;
    width: 200px;
    margin: 15px 10px 15px 10px;
    background-color: #EFEFEF; 
    color: #999;
    background-size: cover;
    opacity: 0.5;
    line-height: 100%;
  }
  .active{
    opacity: 1;
    height: 180px;
    width: 250px;
    margin: 0px 10px 0px 10px;
    box-shadow: 0 3px 12px #000, inset 3px 3px 0px #fff, inset -3px -3px 0px #fff;
  }
}
}