
#context li {border:#f48024 solid 5px; padding:10px; margin:10px; width:100%; background:rgba(255,255,255,0.6)}
#context li:nth-child(2) {background:rgba(255,255,255,1)}
#context ol {list-style: none; padding-right: 64px}
#context {background:rgba(255,255,255,0.6)}
#context h2 {color:#f48024;  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff,0px 0px 12px #fff }

body.impress-on-context {background-image: url("../../1-introduction/img/a-botta-mogno.jpg"); background-size: cover}

@media print {
	#context {display: none}
}

