body {
  background-image: url("../img/pattern5.jpg");
  height: 100%;
  color: #FFF;
  background-color: #333;
}
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #333;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 1ex;
}
.modal,
.popover {
  color: black;
}
/* --- Menu --- */
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
.navbar-brand {
  padding: 0 20px;
  float: right;
  line-height: 50px;
}
.navbar-brand img {
  height: 34px;
}
#iOSWebAppInfo {
  position: fixed;
  top: 0px;
  left: 210px;
  z-index: 1035;
}
.popover {
  z-index: 1040;
}
/* ---- Stacked Menu ----*/
.nav-tabs.nav-stacked > li > a {
  border: none;
  box-shadow: 0 1px 0 #333;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  color: #ccc;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
  color: white;
  font-weight: bold;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
}
.nav-tabs.nav-stacked > li a:hover {
  color: white;
  background: none;
  border-bottom: 1px solid #000;
}
.showNumber > li {
  list-style: initial;
  list-style-type: decimal;
  list-style-position: inside;
}
/* ----- Style for content area -----*/
#content {
  padding-top: 80px;
  color: #FFF;
  -webkit-perspective: 800px;
}
.group {
  margin-top: 20px;
  margin-bottom: 80px;
}
/* -- Style for seperating headline -- */
.headline {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 #333;
  margin-bottom: 10px;
  margin-top: 20px;
}
.headline h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.headline .controls {
  color: #FFF;
  font-size: 15px;
  margin: 12px 0 0 20px;
}
.headline select {
  vertical-align: bottom;
}
#delete-form {
  display: none;
}
a.accordion-toggle {
  color: #ccc;
}
a.accordion-toggle:hover {
  color: #FFF;
  text-decoration: none;
}
/* -- Style for presentation thumbnails on startpage -- */
.thumbContainer {
  width: 260px;
  margin: 0px 15px 15px 15px;
  float: left;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  position: relative;
  z-index: 1;
}
.thumb {
  height: 190px;
  box-shadow: 0 3px 6px #000;
  margin-top: 20px;
  color: #000;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  -moz-transform: scale3d(0.9, 0.9, 1);
  -o-transform: scale3d(0.9, 0.9, 1);
  -ms-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
}
.thumb .bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 15;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  box-shadow: inset 3px 3px 0px #cccccc, inset -3px -3px 0px #cccccc, inset 0px 0px 8px #000000;
}
.thumb h4 {
  color: #ccc;
  text-align: center;
  z-index: 20;
  width: 100%;
  text-shadow: 0px 0px 40px black;
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
  padding: 10px;
}
.thumb > div {
  position: absolute;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.thumb .info {
  box-shadow: inset 3px 3px 0px #cccccc, inset -3px -3px 0px #cccccc, inset 0px 0px 8px #000000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 101;
  background-color: #000;
  text-shadow: black 0px 0px 500px;
}
.thumb .dates {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #ddd;
  height: 20px;
  position: absolute;
  bottom: 0;
}
.thumb .dates p {
  font-size: 13px;
  display: inline;
  padding: 5px;
  float: left;
  margin: 0;
}
.thumb .dates p:last-child {
  float: right;
}
.thumb .buttons-container {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #efefef;
  box-shadow: 0px 50px 100px black;
  text-align: center;
  height: 162px;
}
.thumb .buttons-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */

}
.thumb .buttons {
  position: relative;
  display: inline-block;
  height: auto;
  vertical-align: middle;
}
.thumb .buttons .btn-group {
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  height: auto;
}
.thumb .buttons .btn-group button {
  width: 150px;
}
.thumb .buttons .btn-group .dropdown-toggle {
  width: auto;
}
.thumb .buttons .btn-group .btn:first-child {
  width: 130px;
}
.thumb .buttons > .btn {
  width: 156px;
  margin: 4px 0;
}
.100WidthHeight {
  width: 100%;
  height: 100%;
}
.hoverBorder {
  box-shadow: inset 3px 3px 0px #6666cc, inset -3px -3px 0px #6666cc;
  box-shadow: inset 3px 3px 0px #ffffff, inset -3px -3px 0px #ffffff;
}
.thumb:hover .bg {
  opacity: 0.1;
  box-shadow: inset 3px 3px 0px #6666cc, inset -3px -3px 0px #6666cc;
  box-shadow: inset 3px 3px 0px #ffffff, inset -3px -3px 0px #ffffff;
}
.thumb:hover h4 {
  display: table-cell;
}
.flipped {
  -webkit-transform: rotateY( 180deg ) scale3d(1,1,1);
  -moz-transform: rotateY( 180deg ) scale3d(1,1,1);
  -o-transform: rotateY( 180deg ) scale3d(1,1,1);
  -ms-transform: rotateY( 180deg ) scale3d(1,1,1);
  transform: rotateY( 180deg ) scale3d(1,1,1);
  z-index: 10;
}
/* -----  Style for Langind page ----- */
.landhead {
  text-align: center;
  padding: 30px 15px;
}
.landhead h1 {
  font-size: 50px;
  line-height: 1;
}
.landhead .lead {
  color: #686868;
}
@media screen and (min-width: 768px) {
  .landhead {
    padding-top: 140px;
    padding-bottom: 140px;
    text-align: left;
  }
  .landhead h1 {
    font-size: 72px;
  }
  .landhead .lead {
    font-size: 30px;
  }
}
/* -----  Style for Stats ----- */
.chart {
  width: 100%;
  height: 500px;
}
.stats .tab-content {
  padding-top: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 40px;
  overflow: hidden;
  color: black;
}
.stats .tab-content ol,
.stats .tab-content p {
  margin: 20px 0 0 20px;
  list-style-position: inside;
}
.stats .tab-content li {
  line-height: 20px;
  margin-bottom: 5px;
}
.stats .nav-tabs {
  margin-bottom: 0;
}
.stats h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 10px 0;
}
/* ------ Style edit ----- */
#editorImages {
  box-shadow: inset 0 0px 6px #000;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 0 20px 0;
}
#editorImages div {
  display: table-cell;
  height: 250px;
}
#editorImages div img {
  margin: 0 auto 0 auto,
      display: block;
  vertical-align: center;
}
#editorImages div p {
  vertical-align: bottom;
}
/* --- Waiting Box ---*/
.centerContainer {
  display: table;
  height: 100%;
}
.waiting {
  height: 400px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.waiting h2 {
  text-align: center;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 #333;
}
/* --- Controls --- */
.controls iframe {
  border: 3px #ccc solid;
  box-shadow: 0px 2px 8px black;
}
.controls #nextSlideFrame {
  opacity: 0.5;
}
.controls #clock {
  margin-top: 30px;
  float: left;
}
.controls #clock p {
  font-size: 24px;
}
.controls #clock p > span {
  background-image: url('/img/clockBg.png');
  background-repeat: no-repeat;
  padding: 16px;
  background-position: center;
}
.controls #clock button {
  margin: 0 10px 0 10px;
}
.controls .controllButton {
  margin: 20px auto 0 auto;
  display: block;
}
.controls .connected-viewers-number {
  text-align: right;
  color: #CCC;
}
.controls #buttons {
  margin-top: 30px;
}
.controlBottom {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 20px black;
  background-image: none;
  background-color: #111;
  background: -moz-linear-gradient(top, #111111 0%, #222222 71%, #333333 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #111111), color-stop(71%, #222222), color-stop(100%, #333333));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #111111 0%, #333333 71%, #333333 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #111111 0%, #222222 71%, #333333 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #111111 0%, #222222 71%, #333333 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #111111 0%, #222222 71%, #333333 100%);
  /* W3C */

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 270px;
}
.controlBottom #controlToggle {
  width: 100%;
  position: relative;
  top: -25px;
}
.controlBottom #controlToggle a {
  padding: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 180px;
  background-color: #020202;
  color: #fff;
  text-align: center;
  display: block;
  margin: 0 auto 0 auto;
}
.controlBottom .controlThumbs {
  overflow-x: scroll;
  overflow-y: hidden;
}
.controlBottom .controlThumbs .thumb {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  height: 150px;
  width: 200px;
  margin: 40px 10px 40px 10px;
  opacity: 0.5;
  float: left;
  background-size: contain;
  background-color: #ccc;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px #000000, inset 3px 3px 0px #cccccc, inset -3px -3px 0px #cccccc;
  position: relative;
}
.controlBottom .controlThumbs .thumb .labelsContainer {
  position: absolute;
  display: table;
  table-layout: strict;
  left: 15px;
  bottom: 15px;
}
.controlBottom .controlThumbs .thumb .labels {
  position: relative;
  vertical-align: bottom;
  display: table-cell;
  overflow: hidden;
  table-layout: strict;
}
.controlBottom .controlThumbs .thumb .label {
  margin-bottom: 3px;
  overflow: hidden;
}
.controlBottom .controlThumbs .thumb .slideNr {
  position: absolute;
  right: 15px;
  top: 15px;
}
.controlBottom .controlThumbs .thumb .label {
  max-width: 170px;
}
.controlBottom .controlThumbs .active {
  opacity: 1;
  height: 210px;
  width: 280px;
  margin: 10px 10px 10px 10px;
  box-shadow: 0 3px 12px #000000, inset 3px 3px 0px #ffffff, inset -3px -3px 0px #ffffff;
}
/* --- Editor Style ---*/
#editor {
  position: relative;
  height: 550px;
}
/* --- Questions ---*/
#slidesOverview .add {
  float: left;
  margin-top: 100px;
  height: 3px;
  background-color: #8c8c8c;
  width: 15px;
  box-shadow: 0 3px 6px #000;
}
#slidesOverview .add:first-child {
  display: none;
}
#slidesOverview .slide {
  width: 275px;
  height: 206px;
  margin: 10px 0px 40px 0px;
  float: left;
  background-size: contain;
  background-color: #ccc;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px #000000, inset 3px 3px 0px #cccccc, inset -3px -3px 0px #cccccc;
  position: relative;
}
#slidesOverview .slide .labelsContainer {
  position: absolute;
  display: table;
  table-layout: strict;
  left: 15px;
  bottom: 15px;
}
#slidesOverview .slide .labels {
  position: relative;
  vertical-align: bottom;
  display: table-cell;
  overflow: hidden;
  table-layout: strict;
}
#slidesOverview .slide .label {
  margin-bottom: 3px;
  overflow: hidden;
}
#slidesOverview .slide .slideNr {
  position: absolute;
  right: 15px;
  top: 15px;
}
#slidesOverview .slide .labels {
  max-width: 255px;
}
/* --- Slides thumbnail prototype for admincontroll and edit ---*/
.slideInclude {
  float: left;
  background-size: contain;
  background-color: #ccc;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px #000000, inset 3px 3px 0px #cccccc, inset -3px -3px 0px #cccccc;
  position: relative;
}
.slideInclude .labelsContainer {
  position: absolute;
  display: table;
  table-layout: strict;
  left: 15px;
  bottom: 15px;
}
.slideInclude .labels {
  position: relative;
  vertical-align: bottom;
  display: table-cell;
  overflow: hidden;
  table-layout: strict;
}
.slideInclude .label {
  margin-bottom: 3px;
  overflow: hidden;
}
.slideInclude .slideNr {
  position: absolute;
  right: 15px;
  top: 15px;
}
.btn-inverse {
  color: #ffffff;
  background-color: #555454;
  border-color: #616161;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #363636;
  border-color: #3D3D3D;
}
.btn.hidden-xs {
  display: inline-block !important;
}
