<div id="welcomeScreen" class="modal hide fade" tabindex="-1" data-focus-on="input:first" style="pointer-events: auto;">
 	
    <div class="modal-header">
		<div id="logocontainer">
			<div class="lettercontaier" id="a">
				<p class="front">A</p>
			</div>
			<div class="lettercontaier" id="s">
				<p class="front">S</p>
			</div>
			<div class="lettercontaier" id="q">
				<p  class="front">Q</p>
			</div>
		</div>
    	
    </div>
    <div class="modal-body">
        <!-- <h3>Join the show!</h3> -->
        <h1 style="text-align: center;"><%= title %></h1>
        <a><h2 style="text-align: center;">http://<%= host %>:<%= port %>/live/<%= user %>/</h2></a>
        <h5 style="text-align: center;" >Please open this link to follow the presentation</h5>
        <br/>
        <p id="viewers" style="text-align: left; width: 185px; margin: 0 auto 0 auto;"></p>
        <p id="numViewers" style="text-align: center;" class="muted"> Waiting for viewers </p>	 
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"  data-dismiss="modal" onclick="impress().start()" >Start presentation</button>
    </div>
 </div>