<!-- can remove when https://code.google.com/p/chromium/issues/detail?id=336698
  is addressed. -->
<meta charset="UTF-8">

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="presenter-control-activity-item">
  <template>
    <style type="text/css" media="screen">
      :host {
        @apply(--layout-horizontal);
      }

      .ribbon{
        /*margin-left: 1px;*/
        width: 8px;
      }

      .ribbon-net{
        background: rgb(255, 205, 48);
      }

      .ribbon-self{
        background: red;
      }

      .ribbon-presenter{
        background: red;
      }

      .ribbon-viewers{
        background: red;
      }

      .ribbon-answer{
        background: rgb(59, 207, 61);
      }

      .ribbon-assessment{
        background: #337ab7;
      }

      .ribbon-flow{
        background: #333;
      }

      #list-content{
        @apply(--layout-flex);
        position: relative;
        padding: 0 8px 0 24px;
      }

      #list-role{
        font-family: 'Orbitron', sans-serif;
        font-weight: 900;
        color: #AAA;
        font-size: 12px;
        position: absolute;
        top:4px;
        left: 4px;
      }

      #list-username{
      }
      #list-msg{
        font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        font-weight:500; font-stretch:normal;
        margin:0;
      }

      #list-time{
        width: 72px;
        text-align: right;
        padding: 0 4px;
      }

      #list-timestamp{
        font-size: 11px;
        line-height: 11px;
        color: #AAA;
      }
    </style>
      
    <div class$="{{_computeRibbonClass(type)}}"></div>
    <div id="list-content">
      <span id="list-role">{{roleText}}</span>
      <span id="list-username">{{username}}</span>
      <p id="list-msg">{{message}}</p>
    </div>
    <div id="list-time">
     <span id="list-timestamp">{{timestamp}}</span>
    </div>

   
  </template>
  <script>

    Polymer({

      is: 'presenter-control-activity-item',

      properties:{

        /**
         * ribbon type.
         */
        type: {
          type: String,
          value: '',
          notify: true,
          reflectToAttribute: true
        },

        /**
         * The role of the user of this item.
         */
        role: {
          type: String,
          value: '',
          notify: true,
          reflectToAttribute: true
        },

        /**
         * username.
         */
        username: {
          type: String,
          value: '',
          notify: true,
          reflectToAttribute: true
        },

        /**
         * item message.
         */
        message: {
          type: String,
          value: '',
          notify: true,
          reflectToAttribute: true
        },

        /**
         * timestamp.
         */
        timestamp: {
          type: Date,
          value: Date.now,
          notify: true,
          reflectToAttribute: true
        },

        /**
         * capital letters to quick identify roles.
         */
        roleText: {
          type: Date,
          value: Date.now,
          notify: true,
          reflectToAttribute: true,
          computed: '_computeRoleText(roles, role)'
        }
      },

      _computeRoleText: function(roles, role){
        return roles[role];
      },

      _computeRibbonClass :function(type){
        return 'ribbon ribbon-'+type;
      },

      ready: function(){
        this.roles = {
          "viewer" : "V",
          "presenter" : "P",
          "ta" : "TA",
          "ghost" : "G"
        }
      }
    });
  </script>
</dom-module>
