/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
/* Bootstrap code examples
-------------------------------------------------- */


/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}
/* Tweak examples
------------------------- */
.bs-docs-example > p:last-child {
  margin-bottom: 0;
}
.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
  margin-bottom: 5px;
}
.bs-docs-example .pagination {
  margin-top: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  height: 90px;
  overflow: hidden;
  /* cut the drop shadows off */

}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
  margin-left: 0;
  margin-right: 0;
}
.bs-navbar-top-example {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
  top: auto;
  bottom: -1px;
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  border-radius: 0 4px 0 4px;
}
.bs-navbar-bottom-example {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}
form.bs-docs-example {
  padding-bottom: 19px;
}
/* Images */
.bs-docs-example-images img {
  margin: 10px;
  display: inline-block;
}
/* Tooltips */
.bs-docs-tooltip-examples {
  text-align: center;
  margin: 0 0 10px;
  list-style: none;
}
.bs-docs-tooltip-examples li {
  display: inline;
  padding: 0 10px;
}
/* Popovers */
.bs-docs-example-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.bs-docs-example-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}
/* Dropdowns */
.bs-docs-example-submenus {
  min-height: 180px;
}
.bs-docs-example-submenus > .pull-left + .pull-left {
  margin-left: 20px;
}
.bs-docs-example-submenus .dropup > .dropdown-menu,
.bs-docs-example-submenus .dropdown > .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
  *width: 180px;
}
/* Custom styles
-------------------------------------------------- */
.parsing section{
  width:600px;
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.custom-1 .stem {
  color: #dd1183;
}
.custom-1 ol {
  counter-reset: li;
  /* Initiate a counter */

  margin-left: 0;
  /* Remove the default left margin */

  padding-left: 0;
  /* Remove the default left padding */

}
.custom-1 ol > li {
  position: relative;
  /* Create a positioning context */

  margin: 0 0 6px 2em;
  /* Give each list item a left margin to make room for the numbers */

  padding: 4px 8px;
  /* Add some spacing around the content */

  list-style: none;
  /* Disable the normal item numbering */

  background-color: #f2f7fd;
}
.custom-1 ol > li:before {
  content: counter(li);
  /* Use the counter as content */

  counter-increment: li;
  /* Increment the counter by 1 */

  /* Position and style the number */

  position: absolute;
  top: 0px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  height: 100%;
  line-height: 100%;
  /* Some space between the number and the content in browsers that support
	       generated content but not positioning it (Camino 2 is one example) */

  margin-right: 8px;
  padding: 4px;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
.custom-1 li ol,
.custom-1 li ul {
  margin-top: 6px;
}
.custom-1 ol ol li:last-child {
  margin-bottom: 0;
}
.custom-1 ol.upper-alpha > li:before {
  content: counter(li, upper-alpha);
}


.twocol ul { list-style-type:square; list-style-position: inside}
.twocol ol { list-style-type:decimal; list-style-position: inside}
.twocol {list-style-position: inside}

#parse-all-btn{
  position: fixed;
  top: 300px;
  left:700px;
}

/* ASQ code render examples
-------------------------------------------------- */
/* Base class */
.asq-docs-render {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Echo out a label for the example */
.asq-docs-render:after {
  content: "Rendered";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
/* Remove spacing between an example and it's code */
.asq-docs-render + .prettyprint {
  position:relative;
  margin-top: -20px;
  padding-top: 30px;
}

/* Echo out a label for the example */
 .prettyprint:after {
  content: "Code";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
/* Tweak examples
------------------------- */
.asq-docs-render > p:last-child {
  margin-bottom: 0;
}
.asq-docs-render .table,
.asq-docs-render .progress,
.asq-docs-render .well,
.asq-docs-render .alert,
.asq-docs-render .hero-unit,
.asq-docs-render .pagination,
.asq-docs-render .navbar,
.asq-docs-render > .nav,
.asq-docs-render blockquote {
  margin-bottom: 5px;
}
.asq-docs-render .pagination {
  margin-top: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
  z-index: 1;
  padding: 0;
  height: 90px;
  overflow: hidden;
  /* cut the drop shadows off */

}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
  margin-left: 0;
  margin-right: 0;
}
.bs-navbar-top-example {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
  top: auto;
  bottom: -1px;
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  border-radius: 0 4px 0 4px;
}
.bs-navbar-bottom-example {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
  margin-bottom: 0;
}
form.asq-docs-render {
  padding-bottom: 19px;
}
/* Images */
.asq-docs-render-images img {
  margin: 10px;
  display: inline-block;
}
/* Tooltips */
.bs-docs-tooltip-examples {
  text-align: center;
  margin: 0 0 10px;
  list-style: none;
}
.bs-docs-tooltip-examples li {
  display: inline;
  padding: 0 10px;
}
/* Popovers */
.asq-docs-render-popover {
  padding-bottom: 24px;
  background-color: #f9f9f9;
}
.asq-docs-render-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
}
/* Dropdowns */
.asq-docs-render-submenus {
  min-height: 180px;
}
.asq-docs-render-submenus > .pull-left + .pull-left {
  margin-left: 20px;
}
.asq-docs-render-submenus .dropup > .dropdown-menu,
.asq-docs-render-submenus .dropdown > .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 5px;
  *width: 180px;
}


/* Welcome screen
------------------------- */
.asq-welcome-screen{
	text-align: center;
}
.connected-viewers-icons{
	text-align: left;
	width: 190px;
	margin: 0 auto 0 auto;
}
.connected-viewers-number{
	color: #666;
}
/*Extension for ASQ */
.tab-pane{
	position: relative;
}
.tab-pane .prettyprint{
	border-top: none;
		-webkit-border-radius: 0 0 4px 4px;
  	-moz-border-radius: 0 0 4px 4px;
  	border-radius: 0 0 4px 4px;
}
.asq-docs-render + .nav{
	margin-bottom: 0;
}
.asq-docs-render + .nav .active a{
	background-color: #f7f7f9;
}
.tab-pane .prettyprint:after {
	top: -1px;
	right: 0px;
	left: inherit;
	-webkit-border-radius: 0 0 0 4px;
  	-moz-border-radius: 0 0 0 4px;
  	border-radius: 0 0 0 4px;
}
