  /* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */

  body {
    padding-bottom: 40px;
    color: #5a5a5a;
  }



  /* CUSTOMIZE THE NAVBAR
  -------------------------------------------------- */

  /* Special class on .container surrounding .navbar, used for positioning it into place. */
  .navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }

  .navbar-wrapper.affix {
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-wrapper .navbar {

  }

  /* Hide small log initially */
  #small-logo{
    display:none;
  }

  /* Remove border and change up box shadow for more contrast */
  .navbar .navbar-inner {
    border: 0;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
       -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
            box-shadow: 0 2px 10px rgba(0,0,0,.25);
  }

  /* Downsize the brand/project name a bit */
  .navbar .brand {
    padding: 11px 20px 10px; /* Increase vertical padding to match navbar links */
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  }

  /* Navbar links: increase padding for taller navbar */
  .navbar .nav > li > a {
    padding: 15px 20px;
  }

  /* Offset the responsive button for proper vertical alignment */
  .navbar .btn-navbar {
    margin-top: 10px;
  }



  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 60px;
  }

  .carousel .container {
    position: relative;
    z-index: 9;
  }

  .carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
  }

  .carousel .item {
    height: 500px;
  }
/*
  .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
*/
  .carousel-caption {
    background-color: transparent;
    position: static;
    
    padding: 0 20px;
    /* margin-top: 200px;
     max-width: 550px;*/
   margin-top: 180px;
  }
  .carousel-caption h1,
  .carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
  }
  .carousel-caption .btn {
    margin-top: 10px;
  }

/* www 2013 section*/
#www2013 h2{
  color: #fff;
}

#www2013-logo {
  height : 300px;
  margin-top: -80px;
  margin-right: -20px;
}

#asq-www2013{
width: 110px;
height: auto;
margin-top: -3px;
margin-right: auto;
}

/* ICWE 2015 section*/
#icwe2015 h2{
  color: #fff;
}

#icwe2015-logo-container{
  height : 300px;
  margin-right: 30px;
}

#icwe2015-logo-wrapper{
  padding: 5px;
  border-radius: 3px;
  background: #fff;
  width: 150px;
  margin-top: 6px;
}


#asq-icwe2015{
width: 110px;
height: auto;
margin-top: -3px;
margin-right: auto;
}


/* CeBIT 2017 section*/
#cebit2017 h2{
  color: #fff;
}

#cebit2017-logo-container{
  height : 300px;
  margin-right: 30px;
}

#asq-cebit2017{
width: 110px;
height: auto;
margin-top: -3px;
margin-right: auto;
}

.twitter-follow-button{
  margin-top: 10px;
}


  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .span4 {
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
  }


  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
  }
  .featurette {
    padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
  }
 .featurette:first-child {
    padding-top: 0px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
  }
  .featurette-image {
    margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
   overflow: visible;
  }

  /* Give some space on the sides of the floated elements so text doesn't run right into it. */
  .featurette-image.pull-left {
    margin-right: 40px;
  }
  .featurette-image.pull-right {
    margin-left: 40px;
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (max-width: 979px) {
  	
  	


    .container.navbar-wrapper {
      margin-bottom: 0;
      width: auto;
    }
    .navbar-inner {
      border-radius: 0;
      margin: -20px 0;
    }

    .carousel .item {
      height: 500px;
    }
    /*
    .carousel img {
      width: auto;
      height: 500px;
    }*/

    .featurette {
      height: auto;
      padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
      display: block;
      float: none;
      max-width: 40%;
      margin: 0 auto 20px;
    }
  }


  @media (max-width: 767px) {

    .navbar-inner {
      margin: -20px;
    }

    .carousel {
      margin-left: -20px;
      margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
      height: 300px;
    }
    /*
    .carousel img {
      height: 300px;
    }*/
    .carousel-caption {
      /*width: 65%;*/
      padding: 0 70px;
      margin-top: 100px;
    }
    .carousel-caption h1 {
      font-size: 30px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
      font-size: 18px;
    }

    .marketing .span4 + .span4 {
      margin-top: 40px;
    }

    .featurette-heading {
      font-size: 30px;
    }
    .featurette .lead {
      font-size: 18px;
      line-height: 1.5;
    }

  }
  /* Our special stuff
  -------------------------------------------------- */
 #myCarousel{
 	background-color: #333;
 	background-image: url('../img/pattern5.jpg');
 }
 .carousel-inner{
 	box-shadow: inset 0px -3px 15px black;
 }
 .big{
 	font-size: 28px;
 }
  .carousel-inner .container{
  	display: table;
  }
  #banner1{
  	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 61%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.1)), color-stop(61%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 61%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 61%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 61%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 61%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
 #banner1 img, #banner2 img{
 	display: block;
 	margin: 0 auto 0 auto;
 	display: table-cell;
 	vertical-align: middle;
	max-height: 400px;
 }
 #banner1 p, #banner a{
 	font-family: Georgia, sans-serif;
 	max-width: 900px;
 	padding-top: 20px;
 	margin: 0 auto;
 	text-align: center;
 }
 #banner2 .carousel-caption{
 	margin-top: 30px;
 }
#banner2 img{
}

	.navbar-inverse .navbar-inner{
		background-image: url("../img/pattern5.jpg");
	 	box-shadow: none;
	}
	.navbar-inverse .nav .active>a, .navbar-inverse .nav .active>a:hover, .navbar-inverse .nav .active>a:focus{
		background: none;
	}
