<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="main-nav-item">
  <template>
    <style>

    :host {
      @apply(--layout-horizontal);
      @apply(--layout-center);
      min-height: 20px;
      color: #333;
      width: 90px;
      height: 56px;
      text-align: center;
      position:relative;
    }

   :host(.iron-selected):after{
/*    content: '';
    width: 0; 
    height: 0; 
    position: absolute;
    top: 12px;
    right: 0;
    display: block;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
    border-right: 16px solid #337ab7; */
    }

    #icon-wrapper{
      height:34px;
    }

    #text-wrapper{
      height: 12px;
      font-size: 12px;
      line-height: 12px; 
    }

    #icon{
      width: 34px;
      height: 34px;
    }

    a{
      color: #333;
      text-decoration: none;
      display: block;
      transition: color 120ms ease-in;
      @apply(--layout-flex);
    }

     :host(.iron-selected) a,
     a:hover{
      color: #337ab7;
    }

    iron-icon{
       @apply(--layout-flex);
    }

    </style>
    <a href$="{{href}}">
      <div id="icon-wrapper">
      <template is="dom-if" if="{{hasIcon(icon, src)}}">
        <iron-icon src="{{src}}" id="icon" icon="{{icon}}" hidden$="{{!src && !icon}}"></iron-icon>
      </template>
      </div>
      <div id="text-wrapper">{{label}}</div>
    </a>
    <content></content>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'main-nav-item',

    properties:{

      path: {
        type: String,
        value: '',
        notify: true,
        reflectToAttribute: true
      },

      label: {
        type: String,
        value: '',
        notify: true,
        reflectToAttribute: true
      },

      icon: {
        type: String,
        value: '',
        notify: true,
        reflectToAttribute: true
      },

      src: {
        type: String,
        value: '',
        notify: true,
        reflectToAttribute: true
      },

      href: {
        type: String,
        value: '',
        notify: true,
        reflectToAttribute: true
      }
    },

    hasIcon : function(icon, src){
      return icon || src;
    }

  });
</script>