<script src="../bower_components/page/page.js"></script>

<script>
  window.addEventListener('WebComponentsReady', function() {
    page.base(app.baseUrl);

    // Routes
    page('/', function() {
      app.route = 'dashboard';
    });
    page('/users', function() {
      app.route = 'users';
    });
    page('/slides', function(data) {
      app.route = 'slides';
    });
    page('/dashboard', function() {
      app.route = 'dashboard';
    });
    page('/stats', function() {
      app.route = 'stats';
    });
    page('*', function() {
      app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect('/');
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>