<dom-module id="presenter-control-dashboard-styles">
  <template>
    <style>

:host {
  @apply(--layout-vertical);
  @apply(--layout-fit);
}

.hidden{
  display: none;
}

#lePages{
  @apply(--layout-horizontal);
  @apply(--layout-flex);
}

#discussion-container,
#exercises-container,
#classroom-container,
#activity-container{
  padding: 5px 10px;
  display: none;
  @apply(--layout-flex);
}

#discussion-container.iron-selected,
#classroom-container.iron-selected{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#exercises-container{
  background: #f8f8f8;
  color: #212121;
}

#classroom-container{
  @apply(--layout-start);
  @apply(--layout-wrap);
}

#exercises-container.iron-selected,
#activity-container.iron-selected {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -ms-flex-direction: column;
         flex-direction: column;
  width: 320px;
}

#filters-toggle-container{
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}

#filters-container{
  @apply(--layout-horizontal);
}

.filter-column{
  @apply(--layout-vertical);
}

paper-tab.iron-selected{
  font-weight: 700;
  color: #337ab7;
  opacity: 1;
}

paper-tab:not(.iron-selected):focus::shadow .tab-content{
  font-weight: normal;
  opacity: 0.7;
}

paper-item{
  overflow:hidden;
  /*@apply(--layout-flex);*/
  @apply(--layout-horizontal);
  width: 140px;
  padding: 12px 5px 0;
  margin-left: 5px;
  background-color: white;
  color: #666;
  cursor: pointer;
  font-size: inherit;
  /*font-family: Menlo,Monaco,Consolas,"Courier New",monospace;*/
  @apply(--shadow-elevation-2dp);
  outline:none;
}

paper-item .screenName{
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

paper-item .status{
  text-align: center;
  color: black;
  font-weight: bold;
}

paper-item .hasSubmitted{
  text-align: center;
  color: #4caf50;
  font-weight: bold;
}

.mark-correct-btn:hover,
.mark-correct-btn[active]{
  color:#4caf50;
}

.mark-wrong-btn:hover,
.mark-wrong-btn[active]{
  color:#F44336;
}

.follow-btn:hover,
.follow-btn[active]{
  color:#FFC107;
}



.section-label {
  font-size: 1.25em;
  padding: 0 10px;
  text-transform: uppercase;
}

.filter-name {
  font-weight: bold;
  color: #aaa;
}

#collapse {
  font-size: 12px;
}

#collapse > div {
  padding: 0 10px;
}

#collapse paper-checkbox {
  margin-left: 5px;
}

#collapse paper-checkbox::shadow #checkboxLabel {
  color: #aaa;
}

presenter-control-activity-item {
/*  background: #F8F8F8;
  border-bottom: 1px solid #B5B5B5;*/
  color: #222;
/*  height: 60px;*/
  font-size: 14px;
  cursor: pointer;
}

presenter-control-activity-item:last-child {
  /*box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);*/
}

presenter-control-activity-item.selected {
  background: #FFFBE8;
}

#filterToggleButton {
  font-size: 12px;
}

#filterToggleButton iron-icon {
  width: 20px;
  height: 20px;
  -webkit-transition: -webkit-transform 200ms ease-out 300ms;
  -moz-transition: -moz-transform 200ms ease-out 300ms;
  -o-transition: -o-transform 200ms ease-out 300ms;
  transition: -webkit-transform 200ms ease-out 300ms,-moz-transform 200ms ease-out 300ms,-o-transform 200ms ease-out 300ms,transform 200ms ease-out 300ms;
}

#filterToggleButton[opened] iron-icon {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotateZ(-180deg);
  -moz-transform: rotateZ(-180deg);
  -o-transform: rotateZ(-180deg);
  -ms-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg);
}

#filters-toggle-container{
  @apply(--layout-horizontal);
  @apply(--layout-center-justified);
}

#filters-container{
  @apply(--layout-horizontal);
}

.filter-column{
  @apply(--layout-vertical);
},
.filter-column > paper-checkbox {
  margin: 7px 20px 7px 0;
}

#event-list{
  @apply(--layout-flex);
}

    </style> 
  </template>
</dom-module>
